
.App {
  text-align: center;
  height: auto;
  overflow-x: hidden;
}

header {
  height: fit-content;
  margin-bottom: -6vh;
}

.banner {
  width: 100vw;
  height: calc(2rem + 12vh);
}

.avatar {
  border-radius: 50%;
  z-index: 2;
  position: relative;
  top: -4vh;
  width: 30vmin;
  height: auto;
  margin: auto;
}

.title_h1 {
  margin: 0 auto;
  padding: .2em;
  position: relative;
  top: -8vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  color: var(--cyan);
  background-color: var(--raisin-t);
  width: fit-content;
}

#first_name {
  margin-bottom: 0;
}

#subtitle_container {
  display: flex;
  font-size: .7rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -7vh;
  padding: 0 .5vw;
  color: var(--cyan);
  text-shadow: 1px 2px var(--turq);
  max-width: 80%;
  margin: 0 auto;
}

#subtitle_container h3 {
  margin: 0 0 .5em 0;
  font-weight: 500;
}

.not_last::after {
  content: "|";
  margin: 0 .4em;
}

.navbar_container {
  top: -10vh;
  position: sticky;
}

.navbar_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  color: var(--cyan);
  background-color: var(--raisin-t);
  padding: .5em 2em;
  justify-content: center;
}

.navbar_ul li:not(li:last-child) {
  border-right: 2px solid var(--cyan);
  padding-right: .5em;
}

.navbar_ul a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 2vw 5vw;
  background-color: var(--raisin-t);
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  color: var(--cyan);
  background-color: var(--raisin-t);
  width: fit-content;
  padding: .2em;
  margin: 0 0 0 10vw;
}

.content {
  font-size: .8rem;
  font-weight: 400;
  color: var(--very-light-cyan);
  background-color: var(--raisin-t);
  padding: 1em;
  box-shadow: 4px 4px var(--light-cyan);
  max-width: 80%;
  margin: 1em auto;
}

a {
  text-decoration: none;
}

#cpico {
  width: 1em;
  height: auto;
}

.contact_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1em;
  padding: 1em;
}

section h3 {
  color: var(--cyan);
  font-size: 1.5rem;
  text-shadow: 3px 3px var(--turq);
  margin: 0;
  display: inline-block;
}

section h3+p {
  color: var(--cyan);
  font-size: 1rem;
  display: inline-block;
  padding-left: .5em;
}

.toggle {
  display: block;
}

.not-toggle {
  display: none;
}

.bi-caret-down-fill {
  display: block;
  color: var(--cyan);
}

@media screen and (min-width: 700px) {

  .flex_container, .title_container {
    display: flex;
    justify-content: center;
    gap: .5em;
  }

  .avatar {
    margin: auto 1vw;
  }

  .title_h1 {
    display: inline;
    top: 5vh;
    right: 0;
  }

  .contact_container {
    padding: 1em 2em;
  }
}